.footer-v2{
    background-color: $volvo-grey;
    color: $white;
    text-align: center;
    font-family: $main-font;
    .footer-container{
        padding: 60px;
        @include mq(small){
            padding: 60px 20px;
        }
        .navigation{
            margin: 60px auto;
            max-width: 800px;
            ul{
                li{
                    display: inline-block;
                    padding: 10px 30px;
                    @include mq(medium){
                        display: block;
                    }
                    &:after{
                        content: "";
                        display: inline-block;
                        width: 6px;
                        height: 6px;
                        transform: rotate(45deg);
                        border-top: 2px solid $white;
                        border-right: 2px solid $white;
                    }
                    a{
                        text-decoration: none;
                        color: $white;
                        &:hover{
                            color: $lightGrey;
                        }
                    }
                }
            }
        }
        .social-media{
            margin-bottom: 60px;
            a{
                display: inline-block;
                text-decoration: none;
                color: $white;
                i{
                    cursor: pointer;
                    font-size: 22px;
                    margin: 0 10px;
                    &.icon-facebook:hover{
                        color: #3b5998;
                    }
                    &.icon-instagram:hover{
                        color: #e95950;
                    }
                    &.icon-linkedin:hover{
                        color: #0077B5;
                    }
                    &.icon-youtube:hover{
                        color: #ff0000;
                    }
                }
            }
        }
        .logo-volvo{
            width: 120px;
        }
    }
}