.nav-v1{
    font-family: $main-font;
    a, input, button{
        font-size: 15px;
    }
    nav{
        background-color: rgba(0,0,0,0.8) !important;
        min-height: 50px;
        padding: 8px 60px;
        .navbar-brand{
            position: absolute;
            left: 50%;
            top: 12px;
            transform: translateX(-50%);
            img{
                width: 110px;
            }
        }
        .navbar-toggler{
            position: absolute;
            right: 20px;
            top: 8px;
            width: 32px;
            height: 32px;
            border: none;
            outline: none;
            span{
                display: block;
                position: absolute;
                left: 1px;
                width: 30px;
                height: 2px;
                border-radius: 5px;
                background-color: lightgray;
                transition: all .5s ease;
                &:nth-child(1){
                    top: 5px;
                }
                &:nth-child(2){
                    top: 50%;
                    transform: translateY(-50%);
                }
                &:nth-child(3){
                    bottom: 5px;
                }
                &.open{
                    &:nth-child(1){
                      top: 15px;
                      transform: rotate(45deg);
                    }
                    &:nth-child(2){
                      width: 0;
                      opacity: 0;
                    }
                    &:nth-child(3){
                      transform: rotate(-45deg);
                      bottom: 15px;
                    }
                  }
            }
        }
        #navbarSupportedContent{
            @include custom-mq(0px, 767px){
                margin-top: 40px;
            }
            .navbar-nav{
                .nav-item{
                    a{
                        text-align: center;
                    }
                }
            }
        }
    }
}