.questionsv3{
    text-align: center;
    background-color: $volvo-grey;
    color: $white;
    position: relative;
    .question{
        display: none;
        height: 100vh;
        padding: 100px 60px;
        position: relative;
        &.show{
            display: block;
        }
        @include mq(small){
            padding: 100px 26px;
        }
        @include custom-height-mq(0px, 650px){
            padding-top: 40px;
            padding-bottom: 40px;
        }
        &:not(.final){
            @include custom-height-mq(0px, 560px){
                height: 100%;
            }
        }
        &.helper{
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: $volvo-grey;
            z-index: 5;
            .got-it-button{
                margin-top: 116px;
                font-family: $main-font;
                font-size: 16px;
                padding: 10px 20px;
                border: 1px solid $white;
                color: $white;
                position: relative;
                overflow: hidden;
                cursor: pointer;
                background-color: $volvo-grey;
                z-index: 0;
                @include custom-height-mq(0px, 500px){
                    position: absolute;
                    bottom: 20px;
                    left: 50%;
                    transform: translateX(-50%);
                }
                &:hover{
                    color: $black;
                }
                &:after{
                    content: "";
                    display: block;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 0;
                    background-color: $white;
                    z-index: -1;
                    transition: all .4s ease;
                }
                &:hover:after{
                    height: 100%;
                    color: $volvo-grey;
                }
            }
        }
        .question-holder{
            max-width: 800px;
            height: 340px;  
            margin: 0 auto;
            position: relative;
            @include mq(medium){
                height: 340px;
            }
            &.q0{
                .button{
                    background-color: $volvo-grey;
                }
                @include custom-height-mq(0px, 500px){
                    position: absolute;
                    bottom: 160px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 80%;
                }
            }
            .title-q{
                font-size: 22px;
                padding: 40px;
                font-family: $main-font;
                @include mq(medium){
                    padding: 40px 32px;
                }
            }
            .button{
                font-family: $main-font;
                font-size: 16px;
                text-transform: uppercase;
                width: 160px;
                height: 54px;
                border: 1px solid $white;
                border-radius: 60px;
                color: $white;
                cursor: pointer;
                background-color: $volvo-grey;
                z-index: 0;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                @include mq(medium){
                    top: 70%;
                    width: 100px;
                    height: 46px;
                }
                &.but-yes{
                    right: 0px;
                }
                &.but-no{
                    left: 0px;
                }
                &.but-yes:hover, &.hover-click-yes{
                    border: 1px solid $green;
                    color: $green;
                }
                &.but-no:hover, &.hover-click-no{
                    border: 1px solid $red;
                    color: $red;
                }
                &.clicked{
                    color: $volvo-grey;
                    background-color: $white;
                    border: none;          
                }
                &.not-clicked{
                    color: $white;
                    background-color: $lightGrey;
                    border: none;
                }
            }
            .steering-wheel{
                width: 152px;
                position: absolute;
                bottom: -50px;
                left: 50%;
                transform: translateX(-50%);
                z-index: 1;
                transition: all .6s ease;
                @include mq(large){
                    width: 136px;
                }
                @include mq(medium){
                    width: 106px;
                }
                &.turn-center{
                    transform: rotate(0) translateX(-50%);
                }
                &.turn-left{
                    transform: rotate(-45deg) translateX(-35%) translateY(-35%);
                }
                &.turn-right{
                    transform: rotate(45deg) translateX(-35%) translateY(35%);
                }
            }
            .steering-wheel-left, .steering-wheel-right{
                width: 60px;
                height: 154px;
                position: absolute;
                bottom: -50px;
                cursor: pointer;
                z-index: 2;
                @include mq(large){
                    height: 140px;
                    width: 50px;
                }
                @include mq(medium){
                    height: 108px;
                    width: 35px;
                }
            }
            .steering-wheel-left{
                right: 50%;
                margin-right: 20px;
            }
            .steering-wheel-right{
                left: 50%;
                margin-left: 20px;        
            }
        }
        &.final{
            background-color: $white;
            @include mq(small){
                padding: 80px 26px;
            }
        }
        .progress{
            height: 14px;
            background-color: $volvo-grey;
            margin: 90px auto 0 auto;
            width: 260px;            
            .progress-circle{
                display: inline-block;
                height: 14px;
                width: 14px;
                border-radius: 14px;
                border: 1px solid $white;
                margin: 0 6px;
                background-color: $volvo-grey;
                &.check{
                    background-color: $white;
                }
            }
        }
        .not-got-it-button{
            display: block;
            font-family: $main-font;
            color: $white;
            margin-top: 40px;
        }
        .social-network{
            margin-bottom: 20px;
            font-size: 30px;
            i{
                cursor: pointer;
                padding: 0 8px;
                color: $volvo-grey;
                &.icon-facebook:hover{
                    color: #3b5998;
                }
                &.icon-instagram:hover{
                    color: #e95950;
                }
            }
        }
        .answer{
            display: none;
            padding: 140px 20px;
            height: 420px;
            max-width: 600px;
            margin: 0 auto;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            box-shadow: 3px 3px 3px $black;
            position: relative;
            z-index: 0;
            &:after{
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0,0,0,0.6);
                z-index: -1;
            }
            h1{
                font-family: $title-font;
                font-size: 32px;
                letter-spacing: 1px;
                &:after{
                    content: '';
                    display: block;
                    width: 50%;
                    height: 1px;
                    background-color: $white;   
                    margin: 30px auto 0 auto;
                }
            }
            p{
                font-family: $main-font;
                font-size: 20px;
                padding: 30px 0;
            }
        }
    }
}